body.home {
    background-image: '/images/bg-body.png';
}

/*header*/
.home__header {
    text-align: center;
}

.home__header__logo.img {
    border-radius: 50%;
    border: 2px solid #bbbfbe;
    margin: 15px 0 30px;
    width: 180px;
}

.home__header__menu {

}

.home__header__menu ul li { 

}

.home__header__menu ul li a {
    background-color: var(--colorGris);

}
/*MAIN*/




/*FOOTER*/